
 @import url(https://fonts.googleapis.com/css?family=Nunito);

 body{
     font-family: "Nunito", sans-serif !important;
 }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

li.none{
  list-style:none;
  width: 33%;
  flex-basis: 33%;
  text-align: left;
  margin-bottom: 14px;
  margin-right: 0;
  box-sizing: border-box;
  padding-right: 20px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.trans-btn-costome{
  color: #3490dc !important;
    border-color: #3490dc !important;
}
p{
  font-family: "Nunito", sans-serif !important;
}
.judul{
  font-size: 2.25rem !important;
}
.under-desc{
  font-family: "Nunito", sans-serif !important;
  color: #6c757d !important;
  /* font-size: 13px !important; */
  margin-top: -3px !important; 
} 
.font-weight-bold {
  font-weight: 700 !important;
}
.sinopsis {
  color: #4c5358;
  font-size: 16px;
}

.sinopsis-first-letter::first-letter {
 float: left;
 font-family: Georgia;
 font-size: 75px;
 line-height: 30px;
 padding-top: 2px;
 padding-right: 4px;
 padding-left: 1.5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
